* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 1920px;
  margin: auto;
  color: #00000;
  background: gray;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.flexbox-container {
  display: flex;
  background-color: lightblue;
  justify-content: space-between;
}
.flexbox-item {
  margin: 10px;
  /* border: 3px solid #333; */
  background-color: #dfdfdf;
}

.flexbox-item-1 {
  // min-height: 600px;
  width: 15%;
  min-width: 200px;
  height: 485px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #36383b;
}

.flexbox-item-2 {
  min-height: 600px;
  margin: 10px 160px;
  height: 485px;
  flex: 1;
}

/* NAVABR LIST */

.decoration-list-none {
  list-style: none;
}

.sidebar {
  color: white;
  padding: 15px;
  top: 15px;
}

.navbar_logo {
  padding: 18px;
}
.list-navbar {
  display: flex;
  width: 157px;
  margin-top: -40px;
  flex-direction: column;
  gap: 15px;
}
.list-navbar > li {
  color: white;
}
.navbar-footer {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.navbar_logo > img {
  height: 100px;
  width: 100%;
}

p {
  font-size: 18px;
  line-height: 1.3em;
}

li {
  text-decoration: none;
}

@media screen and (max-width: 900px) {
  .flexbox-item-1 {
    /* display: none; */
  }
}
